# Default ignored files
.idea/shelf/
.idea/workspace.xml
.smarttomcat

# Maven / Gradle build output
/target/
*.class

simulator/.env
# Default ignored files
simulator/.idea/shelf/
simulator/.idea/workspace.xml
# Editor-based HTTP Client requests
simulator/.idea/httpRequests/
# Datasource local storage ignored files
simulator/.idea/dataSources/
simulator/.idea/dataSources.local.xml
simulator/.venv

## 前端
acs-frontend/node_modules
acs-frontend/dist/
acs-frontend/.vscode
acs-frontend/.idea
acs-frontend/*.log
acs-frontend/*.env
acs-frontend/.angular/cache/
acs-frontend/Dockerfile-dev

##共用
acs-common/target
acs-common/log
acs-common/work

## 後端
acs-backend/logs
acs-backend/work
acs-backend/target/

# Tomcat logs
work/backend/logs/*.log
work/backend/logs/*_access_log.*.txt
work/backend/logs/catalina.*.log

# Tomcat sensitive config (視實際情況)
work/backend/conf/tomcat-users.xml
work/backend/conf/tomcat-users.xsd

# 測試
docker-compose-app-dev.yml
docker-compose-infra-dev.yml
docker-compose.yml
docker-dev-compose.yml

# Optional: exclude full conf folder if only local
work/backend/conf/

# Lock files
*.lck

### IntelliJ IDEA ##
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

## mqtt
mqtt/logmqtt/config/passwordfile
